<html>
 <head>
        <title>Grant Access to Doctor</title>
        <link rel="stylesheet" href="../design.css">
 </head>

  <body>
        <h1 class="dotted" style="color: black;" align="Center">Grant Access to Doctor</h1>

     <form align="center" onsubmit="validateform(event)">
        <fieldset>
            <legend style="color: red;">Access Request</legend>
        <table class="tableviewhistory">

            <th>Serial No</th>
            <th>Doctors Name</th>
            <th>Allow or Deny Access</th>
            
            <tr align="center">
            <td><label>1</label><br></td>
            <td align="center">Dr. Nazrul Islam Sarker</td>
            <td>
                 <input type="button" value="Allow Access" onclick="allowAccess(event)" />
                 <input type="reset" value="Deny Access" onclick="denyAccess(event)" />

            </td>
            </tr>

            <tr align="center">
            <td><label>2</label><br></td>
            <td>Dr. Amirul Islam Sarker</td>
            <td>
                <input type="button" name="" value="Allow Access" onclick="allowAccess(event)" />
                <input type="reset" name="" value="Deny Access" onclick="denyAccess(event)" />
            </td>
            </tr>

            <tr align="center">
             <td><label>3</label><br></td>
             <td>Associate Proffessor Dr. Md. Shafiqul Islam Sarker</td>
             <td>
                <input type="button" name="" value="Allow Access" onclick="allowAccess(event)"/>
                <input type="reset" name="" value="Deny Access" onclick="denyAccess(event)"/>
            </td>
            </tr>

            <tr align="center">
            <td><label>4<br></td>
            <td>Dr. Md. Rafiqul Islam Sarker</td>
            <td>
                <input type="button" name="" value="Allow Access" onclick="allowAccess(event)"/>
                <input type="reset" name="" value="Deny Access" onclick="denyAccess(event)"/>
            </td>
            </tr>
            
            <tr align="center">
            <td>5</td>
            <td>Dr. Md. Johirul Islam Sarker</td>
            <td>
                <input type="button" name="" value="Allow Access" onclick="allowAccess(event)"/>
                <input type="reset" name="" value="Deny Access" onclick="denyAccess(event)"/>
            </td>
            </tr>

            <tr align="center">
            <td>6</td>
            <td>Dr. Md. Shahidul Islam Sarker</td>
            <td>
                <input type="button" name="" value="Allow Access" onclick="allowAccess(event)"/>
                <input type="reset" name="" value="Deny Access" onclick="denyAccess(event)"/>
            </td>
            </tr>

            <tr align="center">
            <td>7</td>
            <td>Dr. Md. Khaliqul Islam Sarker</td>
            <td>
                <input type="button" name="" value="Allow Access" onclick="allowAccess(event)"/>
                <input type="reset" name="" value="Deny Access" onclick="denyAccess(event)"/>
            </td>
            </tr>

            <tr align="center">
            <td>8</td>
            <td>Dr. Md. Zahidul Islam Sarker</td>
            <td>
                <input type="button" name="" value="Allow Access" onclick="allowAccess(event)"/>
                <input type="reset" name="" value="Deny Access" onclick="denyAccess(event)"/>
            </td>
            </tr>

            <tr align="center">
            <td>9</td>
            <td>Dr. Tariqul Sarker</td>
            <td>
                <input type="button" name="" value="Allow Access" onclick="allowAccess(event)"/>
                <input type="reset" name="" value="Deny Access" onclick="denyAccess(event)"/>
            </td>
            </tr>

            <tr align="center">
            <td>10</td>
            <td>Dr. Shah Mohammad Galib Alam</td>
            <td>
                <input type="button" name="" value="Allow Access" onclick="allowAccess(event)"/>
                <input type="reset" name="" value="Deny Access" onclick="denyAccess(event)"/>
            </td>
            </tr>

            <tr align="center">
            <td>11</td>
            <td>Dr. Nusrat Akter Khan Meem</td>
            <td>
                <input type="button" name="" value="Allow Access" onclick="allowAccess(event)"/>
                <input type="reset" name="" value="Deny Access" onclick="denyAccess(event)"/>
            </td>
            </tr>


            
        </table> 
        </fieldset>
  
      </form>

      <script>
        function validateform(event){
            event.preventDefault();//reload when I click reload on browser

            
        }

        function allowAccess() {
                        alert("Access Granted");
                    }

                    function denyAccess() {
                        alert("Access Denied");
                    }




      </script>
  </body>

  
    <footer>
        <h1 style="color: white;" align="Center"><b>Thanks for your support</b></h1>
    </footer>
</html>