<html>
 <head>
        <title>View Medical History</title>
        <link rel="stylesheet" href="../design.css">
 </head>

  <body>
        <h1 class="dotted" style="color: black;" align="Center">Patient Medical History</h1>

     <form align="center" onsubmit="validateform(event)">
        <fieldset>
            <legend style="color: red;">Medical History</legend>
        <table class="tableviewhistory">

            <th>Serial No</th>
            <th>Diseases</th>
            
            <tr align="center">
            <td><label>1</label><br></td>
            <td>Anxiety Disorder</td>
            </tr>

            <tr align="center">
            <td><label>2</label><br></td>
            <td>Arthritis</td>
            </tr>

            <tr align="center">
             <td><label>3</label><br></td>
             <td>Skin Allergy</td>
            </tr>

            <tr align="center">
            <td><label>4<br></td>
            <td>Heart Disease</td>
            </tr>
            
            <tr align="center">
            <td>5</td>
            <td>Food Poisoning</td>
            </tr>

            <tr align="center">
            <td>6</td>
            <td>Common Cold</td>
            </tr>

            <tr align="center">
            <td>7</td>
            <td>Psoriasis</td>
            </tr>

            <tr align="center">
            <td>8</td>
            <td>Hypertension</td>
            </tr>

            <tr align="center">
            <td>9</td>
            <td>Dengue Fever</td>
            </tr>

            <tr align="center">
            <td>10</td>
            <td>Diabetes Mellitus</td>
            </tr>
            
        </table> 
        </fieldset>
  
      </form>

      <script>
        function validateform(event){
            event.preventDefault();//reload when I click reload on browser



      </script>
  </body>

  
    <footer>
        <h1 style="color: white;" align="Center"><b>Thanks for your support</b></h1>
    </footer>
</html>